.recipe-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #f0f1f2;
    box-shadow: 0px 0px 2px #e4ebf2;
    max-width: calc(16/ 9 * var(--recipe-img-height));
    min-height: 350px;
    margin: 5px 10px;

    overflow: hidden;
    background: linear-gradient(to right, rgba(12, 12, 12, 0.932), rgba(12, 12, 12, 0.932) 50%, white 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.recipe-card:hover {
    box-shadow: 0px 0px 20px black;
    background-position: 0 100%;
    animation: moveup .27s ease-out;
    transform: translateY(-12px);
    border-radius: 30px;
}

.recipe-card:hover .recipe-card-owner a h3{
    color: #fff;
}
.recipe-card:hover .recipe-card-info .recipe-card-owner-img a .default{
    filter: invert(1);
}

.recipe-card:hover .recipe-card-title a h3{
    color: var(--primary-color);
}

.recipe-card:hover .recipe-card-calories h3{
    color: white;
}

.recipe-card:hover .recipe-card-category-list p{
    color: white;
}

@keyframes moveup {
    0%{
        transform: translateY(0);
        border-radius: 0px;
    }
    89%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-12px);
        border-radius: 30px;
    }
}
.recipe-card-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recipe-card-owner-img{
    max-width: 45px;
    max-height: 45px;
    flex: 1;
}

.recipe-card-text {
    flex: 5 1;
    padding-left: 8px;
}

.recipe-card-img{
    max-width: calc(16/ 9 * var(--recipe-img-height));
    max-height: var(--recipe-img-height);
    min-height: 200px;
}

.recipe-card-img img{
    max-width: calc(16/ 9 * var(--recipe-img-height));
    max-height: var(--recipe-img-height);
    min-height: var(--recipe-img-height);
    min-width: calc(16/ 9 * var(--recipe-img-height));
}

.recipe-card-owner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-card-title {
    min-height: 35px;
    display: flex;
    align-items: center;
}

.recipe-card-title h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 30px;
}

.recipe-card-owner h3 {
    font-size: 14px;
    margin: 0px;
    color: var(--primary-color);
}

.recipe-card-owner {
    line-height: 30px;
    display: flex;
    align-items: center;
}

.recipe-card-calories h3 {
    margin: 0px;
    line-height: 30px;
    font-size: 17px;
}

.recipe-card-calories {
    align-items: center;
    display: flex;
}

.recipe-card-category-list p {
    line-height: 22px;
    margin: 0px;
    font-size: 14px;
}

.recipe-card-category-list {
    display: flex;
    align-items: center;
}

.recipe-card-title a{
    text-decoration: none;
    color: black
}

.recipe-card-owner a{
    text-decoration: none;
}

