.popup-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 200ms ease-in-out;
    transition: 100ms ease-in-out;
    margin: 0;
    padding: 0;

}

.popup-container .popup-card {
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    z-index: 1000005;
    background-color: var(--primary-color);
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.popup-container .login {
    min-height: 15rem;
    width: 15rem;
}

.popup-container .mealplanner {
    min-height: 15rem;
    width: 15rem;
}

.popup-container .register {
    min-height: 30rem;
    width: 30rem;
}

.popup-container .popup-card h1 {
    font-size: 1.5rem;
    margin: 0;
}

.popup-container .close-btn {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    z-index: 100006;
    color: white;
}

.popup-container .popup-card.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
}

.popup-container .popup-card input, .popup-container .popup-card label{
    -webkit-transform:scale(0);
            transform:scale(0);
}

.popup-container .popup-card.active input, .popup-container .popup-card label{
    -webkit-transform:scale(1);
            transform:scale(1);
}

.popup-card .form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.popup-card .form .input-field {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.popup-card .form .split {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content: space-between;
}

.calendar {
    width: 166px;
}

.popup-card .form .input-row input[type="date"] {
    font-size: 12px;
    color:rgb(89, 89, 89);
}

.popup-card .form .input-row {
    display: flex;
    flex-direction: column;
}

.popup-card .form .input-field label {
    margin-bottom: 5px;
}

.popup-card .form .input-field input::placeholder{
    color: rgb(89, 89, 89);
    font-size: 12px;
}

.popup-card .form .input-field input {
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
}

.popup-card .form .input-field select {
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
}

.popup-card .form .btn, .popup-card .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-card .footer {
    color: white;
    margin-top: auto;
    height: 100px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-btn {
    height: 30px;
    width: 90px;
    font-size: 15px;
    background: white;
    border: none;
    cursor: pointer;
}

.popup-card .here-btn{
    color: white;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    margin-top: 5px;
    color: rgb(193, 0, 0); 
    font-weight: bolder;
    text-align: center;
}


/*-------------------------------
 Confirming delete popup
 ------------------------------- */
.confirm {
    width: 22rem;
}

.delete-confirm {
    display: flex;
    flex-direction: column;
}

.delete-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}

.delete-footer button {
    border: none;
    background-color: white;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
