.search-user-card{
    margin: 0px 20px;
    border-bottom: 1.4px solid var(--border-color);
    display: flex;
    padding: 30px 60px;
    gap: 20px;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(12, 12, 12, 0.932), rgba(12, 12, 12, 0.932) 50%, white 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    animation: slideInLeft .7s ease-in;
}
.search-user-card.even{
    animation: slideInRight .7s ease-in;
}
/* Hover effects for the search results card */
.search-user-card:hover {
    box-shadow: 0px 0px 0px black;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin: 0px 20px;
    background-position: 0 100%;
}

.search-user-card:hover .result-image img{
    animation: imageParentHover .37s ease;
    box-shadow: 0px 0px 0px black;
    border-radius: 10%;
    border: 0px;
    transform: scale(1.02);
}

.search-user-card:hover .default{
    filter: invert(1);
}

.search-user-card:hover .result-user-name h1 {
    color: var(--primary-color);
}

.search-user-card:hover .result-user-numbers p {
    color: lightgray;
}

.search-user-card:hover .result-contains p{
    color: white;
    margin: 0px;
    line-height: 19px;
    font-size: 12px;
}

.search-user-card .result-creation-date p{
    color: lightgray;
    margin: 0px;
    line-height: 21px;
    font-size: 14px;
}

@keyframes imageParentHover {
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    }
    100%{
        box-shadow: 0px 0px 0px black;
        border-radius: 10%;
        border: 0px;
        transform: scale(1.02);
    }
}


.search-user-card > a{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    text-decoration: none;
}

.usersearchpage > .results-container {
    margin: 60px 60px 0px 60px;
}

.result-user-image{
    flex: 1;
}

.result-user-information{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-user-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: calc(16/9 * var(--recipe-search-img-height));
    min-height: var(--recipe-search-img-height);
    max-width: calc(16/9 * var(--recipe-search-img-height));
    max-height: var(--recipe-search-img-height);
}

.result-user-image img {
    border-radius: 50%;
    border: 3px solid var(--border-color);
    max-width: calc(16/9 * var(--recipe-search-img-height));
    max-height: var(--recipe-search-img-height);
    /* border: 1px solid var(--border-color); */
    box-shadow: 0px 0px 10px darkgray;
    /* transition: .37s ease-in; */
}

.result-user-name h1 {
    color: black;
    text-decoration: none;
}

.result-user-numbers {
    display: flex;
    justify-content: space-between;
    color: black;
    gap: 70px;
}

.result-user-metrics {
    display: flex;
    justify-content: space-between;
}

.result-followbtn > button {
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 12px;
    color: white;
    outline: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-followbtn button img{
    width: 15px;
    height: 15px;
    filter: invert(1);
}