.filter-table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    grid-gap: 12px;
}

button.filter-buttons{
    background-color: rgb(146, 146, 146);
    padding: 12px;
    border-radius: 12px;
    color: white;
}

button.filter-buttons:hover{
    padding: 12px;
    background-color: var(--primary-color);
}

button.filter-buttons.active{
    padding: 12px;
    background-color: var(--primary-color);
}

.filter-options{
    margin-bottom: 12px;
}