.result-page{
    position: relative;
    width: 100%;
}

.result-header{
    /* background-color: var(--primary-color);   */
    background-color: grey;
    display: flex;
    min-width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: center;
}

.result-header h1{
    margin: 0px;
    padding: auto;
}
