.recipe-detail-container{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 30px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}

.recipe-detail-main{
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid var(--border-color);
     box-shadow: 0px 0px 4px darkgray;
}

.recipe-detail-main a {
    text-decoration: none;
}

.recipe-detail-main > * {
    width: 100%;
}

.recipe-detail-step {
    border-radius: 14px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 4px darkgrey;
}

.recipe-detail-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.recipe-detail-img{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.recipe-detail-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow: rgb(255 127 80 / 89%) 0px 3px 8px;
}

.recipe-detail-text{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    justify-content: space-between;
    padding-left: 13px;
}

.recipe-detail-text > *{
    margin: 0px;
}

.recipe-edit-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.recipe-edit-buttons button{
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 12px;
    color: aliceblue;
    outline: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe-edit-buttons button:hover{
    background-color: rgb(146, 146, 146);
    border-radius: 12px ;
}

.recipe-detail-ingredients {
    flex: 1 1;
    border-radius: 12px;
    color: black;
    padding: 15px;
    border: 2px solid var(--border-color);
}

.recipe-detail-directions {
    flex: 2.25 1;
    border-radius: 12px;
    color: black;
    padding: 15px;
    border: 2px solid var(--border-color);
}

.ingredients-list li::marker {
    color: var(--primary-color);
}

.directions-list li::marker {
    color: var(--primary-color);
}

.recipe-detail-text h3 a {
    color: var(--primary-color);
}

/*-------------------------------
Review section styling
--------------------------------*/
.recipe-review-main {
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 4px darkgray;
    margin-bottom: 2%;
}

.recipe-review-main h3 {
    margin: 0;
}

.add-review {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    gap: 20px;
}

.add-review input {
    border-radius: 12px;
    border: none;
    width: 100%;
    padding-left: .5rem;
    outline: 0px solid;
}

.add-review button {
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 12px;
    color: aliceblue;
    outline: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-review img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid black;
}

.add-review-text textarea:focus {
    border-bottom: 3px solid black;
}

.add-review-text textarea {
    width: 100%;
    border: 0px;
    line-height: 45px;
    font-size: 22.5px;
}

.add-review-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    padding: 30px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 12px;
}

.add-review-text hr {
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-color: black;
}

.add-review-image {
    justify-content: center;
    align-items: center;
    display: flex;
}