.results-container{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 30px 30px 0 30px;
    border-radius: 14px;
    animation: fadeIn .7s ease-in;
}

.filter-btn{
    width: 40px;
    height: 40px;
}

.results-grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conditional-filter{
    padding: 30px;
}

.conditional-filter img{
    width: 25px;
    height: 25px;
}

.conditional-filter hr{
    margin: 0px;
}

.conditional-filter button{
    background-color: transparent;
    outline: none;
    padding: 5px;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conditional-filter button p{
    font-size: 15px;
    margin: 0px;
}

.conditional-filter button:hover{
    background-color: rgb(146, 146, 146);
    border-radius: 12px;
    padding: 5px;
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}