.results-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 30px 30px 0 30px;
    border-radius: 12px;
    animation: fadeIn .7s ease-in;
    border: 1px solid #f0f1f2;
}

.filter-btn{
    width: 40px;
    height: 40px;
}

.results-grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conditional-filter{
    padding: 30px;
}

.conditional-filter img{
    width: 25px;
    height: 25px;
}

.conditional-filter hr{
    margin: 0px;
}

.conditional-filter button{
    background-color: transparent;
    outline: none;
    padding: 5px;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conditional-filter button p{
    font-size: 15px;
    margin: 0px;
}

.conditional-filter button:hover{
    background-color: rgb(146, 146, 146);
    border-radius: 12px;
    padding: 5px;
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

ul.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
    align-self: center;
    height: 35px;
    align-items: center;
}

li.page-number {
    height: 30px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 9px;
}

li.page-number:hover {
    background-color: var(--border-color);
    text-decoration: underline;
}

li.page-number.page-current-border {
    background-color: var(--primary-color);
    color: white;
    text-decoration: underline;
}

.page-number a {
    width: inherit;
    line-height: 30px;
    text-align: center;
    padding: auto 0px;
}

.no-result p {
    text-align: center;
    margin: 15px 0px;
    line-height: 35px;
    font-size: 2em;
}

.no-result {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no-result h3 {
    font-size: 1.89em;
    margin: 11px 0px 11px 0px;
}

h3.no-match {
    margin: 0px 0px 11px 0px;
}