body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

:root{
  --primary-color: #0FA2F4;

  /* Values pertaining to the Recipe card style
  
    Only Change this values if you wish to change the card sizes
  */
  --recipe-card-width: 283px;
  --recipe-card-height: 200px;
  --recipe-card-border-radius: 12px;
  --recipe-card-spacing: 12px;
  --recipe-card-border-thickness: 5px;

  /* Continue adding variables below here */
}