.recipe-container {
    display: flex;
    height: 65.5%;
    background-color: white;
    border: 1px solid var(--border-color);
    margin: 60px;
    box-shadow: 0px 0px 10px lightgrey;
}

.recipe-container .recipe-add {
    color: black;
    padding: 30px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.recipe-container {
    min-height: 30rem;
    width: 100%;
}



.recipe-add .form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.recipe-add .form .input-field {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.recipe-add .form .input-field input[name="name"]{
    width:350px;
    background-color: white;
    border: 3px solid var(--border-color);
}
.recipe-add .form .input-field input[name="calories"]{
    width:350px;
    background-color: white;
    border: 3px solid var(--border-color);
}
.recipe-add .form .input-field select[name="category"]{
    width:365px;
    background-color: white;
    border: 3px solid var(--border-color);
}


.recipe-add .form .input-field label {
    margin-bottom: 5px;
    color: var(--primary-color);
}



.recipe-add .form .input-field input {
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
    background-color: white;
    border: 3px solid var(--border-color);
    width: 90%;
}

.recipe-add .form .input-field select {
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
    background-color: white;
    border: 3px solid var(--border-color);
}
.recipe-add .form .input-field textarea {
    height: auto;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
    background-color: white;
    border: 3px solid var(--border-color);
}

.recipe-add .form .btn, .recipe-add .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-add .footer {
    color: white;
    margin-top: auto;
    height: 100px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-btn {
    height: 30px;
    width: 90px;
    font-size: 15px;
    background: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.recipeadd{
    background:var(--primary-color);
    color: white;
}

.recipe-container .error {
    margin-top: 30px;
    color: rgb(193, 0, 0); 
    font-weight: bolder;
    padding-left: 2rem;
}

.ingredient-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredient-btn{
    margin-top: 10px;
}

.instruction-list{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.instruction-btn{
    margin-top: 10px;
}

.ingredient-cap {
    display: flex;
    gap: 2%;
}

.instruction-cap{
    display: flex;
    gap: 2%;
}

.ingredient-cap button:hover {
    background: gray;
    color: white;
}

.ingredient-cap button {
    background: var(--primary-color);
    outline: none;
    border: none;
    height: 27px;
    align-self: center;
    padding: 5px;
    width: 27px;
    cursor: pointer;
    border-radius: 9px;
}

.instruction-cap button:hover {
    background: gray;
    color: white;
}

.instruction-cap button {
    background: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 9px;
    height: 27px;
    align-self: center;
    padding: 5px;
    width: 27px;
    cursor: pointer;
}

.instruction-btn > button:hover {
    color: white;
    background: gray;
}

.instruction-btn > button {
    padding: 5px;
    background: var(--primary-color);
    outline: none;
    border: none;
    height: 27px;
    align-self: center;
    width: 27px;
    cursor: pointer;
    border-radius: 9px;
    font-size: 17.5px;
}

.instruction-btn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
}

.ingredient-btn > button:hover {
    color: white;
    background: gray;
}

.ingredient-btn > button {
    padding: 5px;
    background: var(--primary-color);
    outline: none;
    border: none;
    height: 27px;
    align-self: center;
    width: 27px;
    cursor: pointer;
    border-radius: 9px;
    font-size: 17.5px;
}

.ingredient-btn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
}