.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 1rem;
    padding-bottom: 1rem;

}

.recipe-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 10px 10px 0 10px;
    border-radius: 14px;
    /* height: 65.5% */
    /*  Change this if you don't don't like the look, this is the gray portion on the recommended section */
}

.recipe-container h1 {
    margin-left: 100px;
}