.recipe-grid {
    display: flex;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}


.recipe-container {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
}

.recipe-over .recipe-container{
    width: inherit;
}

.recipe-over{
    margin: 10px 10px 0 10px;
}

.recipe-container h1 {
    margin: 12px 0px 0px 15px;
}

.recipe-container hr {
    margin: 15px 0px;
}

.recipe-card-owner-img img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px var(--primary-color);
}