.category-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: calc(32px + 5px); /* 32px is the length of the png 24px + the lenght of the gap 8px. The other number represents the 
    the indent under categories*/
    overflow: hidden;
}
