.MealPlannerPage {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.MealPlannerPage .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 35px;
    flex-wrap: wrap;
}


.MealPlannerPage .background{
    width:140px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 191px;
}

.MealPlannerPage .content{
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    padding: 10px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    margin:2%;
    box-shadow: 0px 0px 10px lightgray;

}

.MealPlannerPage .recipes {
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 6px lightgrey;
    border-radius: 12px;
    min-width: 164px;
    min-height: 200px;
    padding: 5%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MealPlannerPage .recipes .recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 27px;
    font-size: 15px;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 3px lightgray;

    overflow: hidden;
    background: linear-gradient(to right, rgba(12, 12, 12, 0.932), rgba(12, 12, 12, 0.932) 50%, white 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.MealPlannerPage .recipes .recipe button{
    background: none;
    border: none;
    cursor: pointer;
}

.MealPlannerPage .recipes .recipe p{
    color:black;
    cursor: pointer;
}


.MealPlannerPage .button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left:auto;
}

.MealPlannerPage .button button{
    margin: 5px;
}

.MealPlannerPage .background p{
    color: var(--primary-color);
}

.deletemealplan {
    background: var(--primary-color);
    color: white;
    width: auto;
}

.MealPlannerPage .recipes .recipe button:hover {
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
}

.MealPlannerPage .recipes .recipe:hover button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
}

.MealPlannerPage .recipes .recipe:hover {
    box-shadow: 0px 0px 3px lightgray;
    background-position: 0 100%;
    animation: planhovered .10s ease-out;
    transform: translateX(4px);
    border-radius: 15px;
    border: 1px solid black;
}

.MealPlannerPage .recipes .recipe:hover *{
    color: white;
}

@keyframes planhovered {
    0%{
        transform: translateY(0);
    }
    89%{
        transform: translateX(8px);
    }
    100%{
        transform: translateX(4px);
    }
}