/*-------------------------------
Entire Container
-------------------------------*/

.user-profile-container {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 30px;
    width: 100%;
}

.user-profile {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    padding: 28px;
    box-shadow: 0px 0px 10px lightgray;
}

/*-------------------------------
 Left profile side (img and facts)
 ------------------------------- */
 .left-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    border: 3px solid var(--border-color);
    /* box-shadow: 0px 0px 10px lightgray; */
    border-radius: 14px;
}

.left-profile img {
    width: 10rem;
    border-radius: 50%;
    border: .5rem solid white;
    height: 10rem;
}

.left-profile .user-data {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 14px;
    padding: 5px 15px;
    margin-top: 8px;
    justify-content: flex-start;
    width: 80%;
    gap: 7px;
}

.left-profile .user-data h3 {
    margin: 0;
}

.left-profile .profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-img {
    outline: none;
    height: 30px;
    border: 1px solid white;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    margin: 10px 5px;
    box-shadow: 0px 0px 2px lightgray;
    cursor: pointer;
}

/*-------------------------------
Right profile sides (user facts) 
-------------------------------*/

.right-profile {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: white;
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    flex: 2;
    border: 3px solid var(--border-color);
    /* box-shadow: 0px 0px 10px lightgray; */
    border-radius: 14px;
}

/*-------------------------------
Editing user profile form
-------------------------------*/

.right-profile .split {
    display: flex;
    gap: 30px;
}

.right-profile label {
    padding: 2px;
}

.right-profile .input-row textarea {
    width: 210%;
    border-radius: 14px;
    padding-top: 5px;
    padding-left: 5px;
}

.right-profile .input-row {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.right-profile .input-row input {
    height: 30px;
    border-radius: 14px;
    padding-left: 5px;
}

.right-profile .input-row input[type="date"] {
    color: rgb(89, 89, 89);
    width: 95%;
}

/*-------------------------------
Styling for user's profile facts 
---------------------------------*/

.right-profile .user-facts {
    display: flex;
    flex-direction: column;
}

.right-profile button {
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 5px;
}

.right-profile .setting-btns {
    display: flex;
    justify-content: flex-end;
}

.right-profile .setting-btns button {
    cursor: pointer;
}

.change-password {
    display: flex;
    flex-direction: column;
}

/*-------------------------------
Dropdown title
--------------------------------*/
.display-dropdown {
    border: none;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px;
}

/*-------------------------------
Slider styling
--------------------------------*/
.carousel h3{
    margin-bottom: 0;
}

.slick-slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    max-width: 1620px;
}

.slick-slider .recipe-border-top, .slick-slider .recipe-border-left {
    display: none;
}

.slick-next, .slick-prev {
    background-color: black !important;
    transform: translate(0, -110%) !important;
    
}

.slick-list {
    padding: 20px 0 0 0!important;
}

.slick-dots {
    display: none !important;
}

.slick-slide .recipe-img-text {
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

@media only screen and (max-width: 1650px) {
    .slick-slider {
        max-width: 1450px !important;
    }
}

@media only screen and (max-width: 1575px) {
    .slick-slider {
        max-width: 1250px !important;
    }
}

@media only screen and (max-width: 1350px) {
    .slick-slider {
        max-width: 1050px !important;
    }
}

.user-profile button:hover{
    background-color: gray;
}

.user-facts span {
    margin: 5px 0px;
}