.search-result-card{
    display: flex;
    padding: 30px;
    gap: 20px;
    animation: slideInLeft .7s ease-in;
}

.search-result-card.even{
    display: flex;
    padding: 30px;
    gap: 20px;
    animation: slideInRight .7s ease-in;
}

.search-result-card {
    margin: 0px 20px;
    border-bottom: 1.4px solid var(--border-color);

    overflow: hidden;
    background: linear-gradient(45deg, rgba(12, 12, 12, 0.932), rgba(12, 12, 12, 0.932) 50%, white 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.result-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: calc(16/9 * var(--recipe-search-img-height));
    min-height: var(--recipe-search-img-height);
    max-width: calc(16/9 * var(--recipe-search-img-height));
    max-height: var(--recipe-search-img-height);
}

.result-image img{
    border-radius: 20%;
    max-width: calc(16/9 * var(--recipe-search-img-height));
    max-height: var(--recipe-search-img-height);
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px black;
    transition: .37s ease-in;
}


.result-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-detail{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.result-stars{
    overflow: hidden;
    display: flex;
    gap: 2px;
}

.search-result-card h1{
    margin: 0px;
}

.search-result-card p{
    margin: 0px;
}

.result-profile-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
}

.result-profile-img img{
    position: relative;
    border: 3px solid aliceblue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.072);
}

.result-profile-name a{
    text-decoration: none;
    color: var(--primary-color);
}

.result-name a{
    text-decoration: none;
    color: inherit;
}

.result-creation-date p{
    color: darkgray;
    line-height: 18px;
    font-size: 15px;
    margin-top: 3px;
}


/* Hover effects for the search results card */
.search-result-card:hover {
    box-shadow: 0px 0px 0px black;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin: 0px 20px;
    background-position: 0 100%;
}

.search-result-card:hover .result-image img{
    animation: imageParentHover .37s ease;
    box-shadow: 0px 0px 0px black;
    border-radius: 10%;
    border: 0px;
    transform: scale(1.02);
}

.search-result-card:hover .default{
    filter: invert(1);
}

.search-result-card:hover .result-profile-name p{
    color: white;
}

.search-result-card:hover .result-name h1{
    color: var(--primary-color);
}

.search-result-card:hover .result-contains p{
    color: white;
    margin: 0px;
    line-height: 19px;
    font-size: 12px;
}

.search-result-card:hover .result-creation-date p{
    color: lightgray;
    margin: 0px;
    line-height: 21px;
    font-size: 14px;
}

@keyframes imageParentHover {
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    }
    100%{
        box-shadow: 0px 0px 0px black;
        border-radius: 10%;
        border: 0px;
        transform: scale(1.02);
    }
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-500px) skewX(0deg);
        opacity: 0%;
    }
    75%{
        opacity: 36%;
        transform: skewX(0deg);
    }
    90%{
        transform: translateX(34px) skewX(.5deg);
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes slideInRight {
    0%{
        transform: translateX(500px) skewX(0deg);
        opacity: 0%;
    }
    75%{
        opacity: 36%;
        transform: skewX(0deg);
    }
    90%{
        transform: translateX(-34px) skewX(-.5deg);
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}


